In [53]:
my_list = [4,5,6,7,'eight','nine','ten',[11,12],(14,15,16)]

We can access the elements of list using index

In [54]:
my_list[8]

(14, 15, 16)

In [28]:
my_list[8][2]

16

In [55]:
my_list[2:7]

[6, 7, 'eight', 'nine', 'ten']

Add an item to the end of the list.

In [56]:
my_list.append(71)
my_list

[4, 5, 6, 7, 'eight', 'nine', 'ten', [11, 12], (14, 15, 16), 71]

In [57]:
my_list.append([18.19])
my_list

[4, 5, 6, 7, 'eight', 'nine', 'ten', [11, 12], (14, 15, 16), 71, [18.19]]

Extend the list by appending all the items from the iterable.

In [58]:
my_list.extend([4,3])
my_list

[4, 5, 6, 7, 'eight', 'nine', 'ten', [11, 12], (14, 15, 16), 71, [18.19], 4, 3]

Insert an item at a given position.

In [60]:
my_list.insert(3,70)
my_list

[4,
 5,
 6,
 70,
 70,
 7,
 'eight',
 'nine',
 'ten',
 [11, 12],
 (14, 15, 16),
 71,
 [18.19],
 4,
 3]

Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [63]:
my_list.remove(4)
my_list

[5, 6, 70, 7, 'eight', 'nine', 'ten', [11, 12], (14, 15, 16), 71, [18.19], 3]

Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. It raises an IndexError if the list is empty or the index is outside the list range.

In [64]:
my_list.pop(3)

7

In [65]:
my_list

[5, 6, 70, 'eight', 'nine', 'ten', [11, 12], (14, 15, 16), 71, [18.19], 3]

In [66]:
my_list.pop()
my_list

[5, 6, 70, 'eight', 'nine', 'ten', [11, 12], (14, 15, 16), 71, [18.19]]

Used to find the index of given element. it Raise ValueError if element is not found

In [67]:
my_list.index('eight')

3

In [68]:
my_list.index('eight',4)

ValueError: 'eight' is not in list

In [42]:
my_list.index('eight',2) # Find next banana starting at position 4

3

Sort the items of the list

In [43]:
my_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

Reverse the elements of the list in place.

In [44]:
my_list.reverse()

In [45]:
my_list

[4, [18.19], (14, 15, 16), [11, 12], 'ten', 'nine', 'eight', 70, 6, 5]

Return a shallow copy of the list.

In [49]:
my_list.copy()

[4, [18.19], (14, 15, 16), [11, 12], 'ten', 'nine', 'eight', 70, 6, 5]

In [50]:
my_list.clear()
my_list

[]

In [51]:
del my_list

In [52]:
my_list

NameError: name 'my_list' is not defined