In [14]:
my_list = []
for i in range(10):
    element = int(input("Enter element"))
    my_list.append(element)
print("The list is:", my_list)

Enter element 20
Enter element 45
Enter element 12
Enter element 89
Enter element 12
Enter element 78
Enter element 45
Enter element 12
Enter element 78
Enter element 45

The list is: [20, 45, 12, 89, 12, 78, 45, 12, 78, 45]

In [12]:
type(element)

str

In [13]:
type(my_list)

list

In [15]:
type(element)

int

In [30]:
my_list = []
even_list = []
odd_list = []
ev_count = odd_count = 0
for i in range(10):
    element = int(input("Enter element"))
    my_list.append(element)
    if element % 2 == 0:
        even_list.append(element**2)
        ev_count += 1
    else:
        odd_list.append(element**0.5)
        odd_count += 1
print("The list is:", my_list)
print("Count of even numbers : ",ev_count,"\nCount of odd numbers : ",odd_count)
print("List of square of even nos :", even_list)    
print("List of square roor of odd nos :", odd_list)

Enter element 1
Enter element 2
Enter element 3
Enter element 4
Enter element 5
Enter element 6
Enter element 7
Enter element 8
Enter element 9
Enter element 10

The list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Count of even numbers :  5
Count of odd numbers :  5
List of square of even nos : [4, 16, 36, 64, 100]
List of square roor of odd nos : [1.0, 1.7320508075688772, 2.23606797749979, 2.6457513110645907, 3.0]

In [31]:
t1 = tuple()
print(type(t1))

<class 'tuple'>

In [32]:
type(t1)

tuple

In [36]:
t2 = tuple([1001, "robin", 4.4])
t2

(1001, 'robin', 4.4)

In [37]:
t3 = ("sanika", 86, 5.2)
t3
#tuple can be created using both ways

('sanika', 86, 5.2)

In [38]:
print(t2[1:3])

('robin', 4.4)

In [39]:
t2[-1]

4.4

In [40]:
t5 = ( 1,4,6,12,45,[12,90,34],43,16)
t5

(1, 4, 6, 12, 45, [12, 90, 34], 43, 16)

In [41]:
t5[6]

43

In [42]:
t5[5]

[12, 90, 34]

In [43]:
t5[5] = 90

TypeError: 'tuple' object does not support item assignment

In [44]:
t5[5][1]

90

In [45]:
t5[5][1] = 30
t5

(1, 4, 6, 12, 45, [12, 30, 34], 43, 16)

In [46]:
t6 = (2,5,3,2,5,3,2)
t6.count(2)

3

In [47]:
t6.index(5)

1

In [49]:
len(t6)

7

In [54]:
4 in t5

True

In [55]:
4 not in t5

False

In [56]:
sorted(t5)
#sorted is an function not a method and hence it does not change the original list so we need to store this into a variable

TypeError: '<' not supported between instances of 'list' and 'int'

In [57]:
sorted(t6)

[2, 2, 2, 3, 3, 5, 5]

In [58]:
sorted(t6, reverse= True)

[5, 5, 3, 3, 2, 2, 2]

In [59]:
t7 = (2.3, 5, 1.9, 6, 3)
sorted(t7)

[1.9, 2.3, 3, 5, 6]

In [63]:
t8 = ([9,4,1],[2,7,8],[3,2,1],[2,5,9])
sorted(t8)

[[2, 5, 9], [2, 7, 8], [3, 2, 1], [9, 4, 1]]

In [65]:
l1= (6,7,2,9,4,5)
newtuple = tuple()
for i in range(len(l1)-1,-1,-1):
    newtuple.append(l1[i])

AttributeError: 'tuple' object has no attribute 'append'

In [71]:
l1=[9,4,1,5,7,3] 
print(l1)
for i in range(6):
    for j in range(i+1, 6):
        if l1[i] >= l1[j]:
            l1[i], l1[j] = l1[j],l1[i]
print("Sorted List", l1)

[9, 4, 1, 5, 7, 3]
Sorted List [1, 3, 4, 5, 7, 9]